<div id="footer" class="container-fluid">
    <ul id="links">
        {% if site.github_url %}
        <li>
            <a id="link-github" href="http://github.com/{{ site.github_url.username }}" target="_blank">
                <span class="sr-only">github</span>
            </a>
        </li>
        {% endif %}
    </ul>
    <ul id="footer-menu">
        <li><a href="//www.kakaocorp.com">Kakao</a></li>
        <li><a href="//careers.kakao.com/jobs">Jobs</a></li>
        <li><a href="//privacy.kakaocorp.com">Privacy</a></li>
    </ul>
    <p id="copyright">
        Copyright &copy; © 2020 📡홍보숲, All rights reserved.
    </p>
</div><!--#footer-->
